# Dependencies / Packages
node_modules/
.pnpm-store/

# Production Builds & Deployments
dist/
build/
.vercel/

# Environment Variables & Secrets
.env
.env*
.env.local
.env.vercel.pull
.env.development.local
.env.test.local
.env.production.local

# IDE & Editor Configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Temporary Files
.DS_Store
Thumbs.db

# Scratch folder
scratch/

